<ion-view title="双色球">
    <ion-content class="padding">
        <a class="button button-block button-positive icon icon-right ion-chevron-right"
           href="#/tab/doubleBall/random/1">随便来一注</a>
        <a class="button button-block button-positive icon icon-right ion-chevron-right"
           href="#/tab/doubleBall/random/5">随便来五注</a>
        <a class="button button-block button-positive icon icon-right ion-chevron-right"
           href="#/tab/error">手选号码</a>
    </ion-content>
</ion-view>