<!--登录窗口-->
<div class="modal">

    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
        <button class="button button-clear button-positive" ng-click="register()">注册</button>
        <h1 class="title">登录</h1>
        <button class="button button-clear button-positive" ng-click="closeLogin()">取消</button>

    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>
        <form name="login_form" ng-submit="doLogin(user)">
            <div class="list">
                <label class="item item-input">
                    <input type="email" placeholder="请输入用户名..." autofocus="autofocus" ng-model="user.username" required>
                </label>
                <label class="item item-input">
                    <input type="password" placeholder="请输入密码..."  ng-model="user.password" required>
                </label>
                <div class="error" ng-show="login_form.username.$error.required"></div>
                <div>
                    {{ errMsg.loginMsg}}
                </div>
            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">登录</button>
            </div>
        </form>

    </ion-content>

</div>